<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBMSEnrollment.Properties.Settings.DB_ENROLLMENTSYSTEMConnectionString"
            connectionString="Data Source=LAPTOP-L6FJ621L\SQLEXPRESS;Initial Catalog=DB_ENROLLMENTSYSTEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>